doctype html
html
  head
    title Sửa công việc
    link(
      rel="stylesheet",
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap"
    )
    link(rel="stylesheet", href="/css/style.css")
  body
    .anime-character.left (◠‿◠)
    .anime-character.right ヽ(♡‿♡)ノ

    .container
      h1 Sửa công việc

      form.edit-form(action=`/edit/${todo._id}`, method="POST")
        .form-group
          input.input-text(
            type="text",
            name="description",
            value=todo.description,
            required
          )

        .form-group(style="justify-content: center")
          button.btn.btn-primary(type="submit")
            | Lưu
            span.emoji 💾
          a.btn.btn-danger(href="/")
            | Quay lại
            span.emoji ↩️

    script.
      document.querySelector("form").addEventListener("submit", function () {
        const btn = this.querySelector("button");
        btn.innerHTML = 'Đang lưu <span class="emoji">⏳</span>';
        btn.disabled = true;
      });
